html {
  background-color: black;
}
h1 {
  color: white;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
}

h2 {
  color: white;
  text-align: center;
  font-size: 15px;
}

img {
  width: 100%;
  margin: 5px;
  border: 5px solid white;
}

.divider {
  width: 50%;
  margin-left: 25%;
}
